compute_transfer_examples/tar_and_transfer/compute_transfer_example_2_definition.json
{
  "StartAt": "SetRunVariables",
  "States": {
    "SetRunVariables": {
      "Type": "ExpressionEval",
      "Parameters": {
        "gcs_endpoint_id": "<INSERT YOUR GCS ENDPOINT ID HERE>",
        "gcs_base_path": "/",
        "compute_endpoint_id": "<INSERT YOUR COMPUTE ENDPOINT ID HERE>",
        "compute_function_id": "<INSERT YOUR COMPUTE FUNCTION ID HERE>",
        "compute_output_directory.=": "'/' + _context.run_id + '/'",
        "input_data_valid.=": "['~' in source_path or source_path == '/' for source_path in source_paths] == [False] * len(source_paths)"
      },
      "ResultPath": "$.run_vars",
      "Next": "ValidateInputData"
    },
    "ValidateInputData": {
      "Comment": "Validate that none of the input source paths are the path '/' or contain the character '~'.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.run_vars.input_data_valid",
          "BooleanEquals": false,
          "Next": "InvalidInputData"
        }
      ],
      "Default": "CollectInputData"
    },
    "InvalidInputData": {
      "Type": "Fail",
      "Error": "InvalidInputData",
      "Cause": "Invalid source path found in the flow input data."
    },
    "CollectInputData": {
      "Comment": "Construct a list of source paths to provide to the compute function and the transfer data to move the source paths to the intermidate collection.",
      "Type": "ExpressionEval",
      "Parameters": {
        "src_paths.=": "[run_vars.compute_output_directory + pathsplit(source_path.rstrip('/'))[1] + '/' if source_path.endswith('/') else run_vars.compute_output_directory + pathsplit(source_path)[1] for source_path in source_paths]",
        "src_to_intermidate_transfer_data.=": "[{'source_path': source_path, 'destination_path': run_vars.compute_output_directory + pathsplit(source_path.rstrip('/'))[1] + '/' if source_path.endswith('/') else run_vars.compute_output_directory + pathsplit(source_path)[1], 'recursive': True if source_path.endswith('/') else False} for source_path in source_paths]"
      },
      "ResultPath": "$.input_data",
      "Next": "MakeComputeWorkingDir"
    },
    "MakeComputeWorkingDir": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/mkdir",
      "Parameters": {
        "endpoint_id.$": "$.run_vars.gcs_endpoint_id",
        "path.$": "$.run_vars.compute_output_directory"
      },
      "ResultPath": "$.mkdir_result",
      "Next": "TransferToComputeEndpoint"
    },
    "TransferToComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/transfer",
      "Parameters": {
        "source_endpoint.$": "$.source_endpoint",
        "destination_endpoint.$": "$.run_vars.gcs_endpoint_id",
        "DATA.$": "$.input_data.src_to_intermidate_transfer_data"
      },
      "ResultPath": "$.src_to_intermidate_transfer_result",
      "Next": "RunComputeFunction"
    },
    "RunComputeFunction": {
      "Type": "Action",
      "ActionUrl": "https://compute.actions.globus.org/v3",
      "Parameters": {
        "endpoint_id.$": "$.run_vars.compute_endpoint_id",
        "tasks": [
          {
            "function_id.$": "$.run_vars.compute_function_id",
            "args": [],
            "kwargs": {
              "src_paths.$": "$.input_data.src_paths",
              "dest_path.$": "$.run_vars.compute_output_directory",
              "gcs_base_path.$": "$.run_vars.gcs_base_path"
            }
          }
        ]
      },
      "ResultPath": "$.compute_func_result",
      "Next": "GetDestinationPath"
    },
    "GetDestinationPath": {
      "Comment": "To get the dest path, check if the variable 'destination_path' exists and if not, default to the filename returned by the compute function.",
      "Type": "ExpressionEval",
      "Parameters": {
        "path.=": "getattr('destination_path', '/~/' + pathsplit(compute_func_result.details.result[0])[1])"
      },
      "ResultPath": "$.destination",
      "Next": "TransferFromComputeEndpoint"
    },
    "TransferFromComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/transfer",
      "Parameters": {
        "source_endpoint.$": "$.run_vars.gcs_endpoint_id",
        "destination_endpoint.$": "$.destination_endpoint_id",
        "DATA": [
          {
            "source_path.=": "compute_func_result.details.result[0]",
            "destination_path.$": "$.destination.path"
          }
        ]
      },
      "ResultPath": "$.intermidate_to_dest_transfer_result",
      "Next": "CleanupComputeEndpoint"
    },
    "CleanupComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/delete",
      "Parameters": {
        "endpoint.$": "$.run_vars.gcs_endpoint_id",
        "recursive": true,
        "DATA": [
          {
            "path.$": "$.run_vars.compute_output_directory"
          }
        ]
      },
      "ResultPath": "$.delete_result",
      "End": true
    }
  }
}
