compute_transfer_examples/collection_transfer_requires_flow/compute_transfer_example_1_definition.json
{
  "StartAt": "SetConstants",
  "States": {
    "SetConstants": {
      "Type": "ExpressionEval",
      "Parameters": {
        "gcs_base_path": "/",
        "compute_endpoint_id": "<INSERT YOUR COMPUTE ENDPOINT ID HERE>",
        "compute_function_id": "<INSERT YOUR COMPUTE FUNCTION ID HERE>",
        "compute_output_directory.=": "'/' + _context.run_id + '/'"
      },
      "ResultPath": "$.constants",
      "Next": "GetDestinationPath"
    },
    "GetDestinationPath": {
      "Type": "ExpressionEval",
      "Parameters": {
        "path.=": "getattr('destination_path', transfer_settings.DATA[0].destination_path)"
      },
      "ResultPath": "$.destination_path",
      "Next": "InitIterateSourcePaths"
    },
    "InitIterateSourcePaths": {
      "Type": "ExpressionEval",
      "Parameters": {
        "src_paths_iterator_pos": 0,
        "src_paths": []
      },
      "ResultPath": "$.iterate_source_paths",
      "Next": "IterateSourcePathsConditional"
    },
    "IterateSourcePathsConditional": {
      "Type": "ExpressionEval",
      "Parameters": {
        "conditional.=": "len(transfer_settings.DATA) > iterate_source_paths.src_paths_iterator_pos"
      },
      "ResultPath": "$.iterate_source_paths_conditional",
      "Next": "IterateSourcePaths"
    },
    "IterateSourcePaths": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.iterate_source_paths_conditional.conditional",
          "BooleanEquals": true,
          "Next": "AppendSourcePath"
        }
      ],
      "Default": "MakeComputeWorkingDir"
    },
    "AppendSourcePath": {
      "Type": "ExpressionEval",
      "Parameters": {
        "src_paths.=": "iterate_source_paths.src_paths + [transfer_settings.DATA[iterate_source_paths.src_paths_iterator_pos].source_path]",
        "src_paths_iterator_pos.=": "iterate_source_paths.src_paths_iterator_pos + 1"
      },
      "ResultPath": "$.iterate_source_paths",
      "Next": "IterateSourcePathsConditional"
    },
    "MakeComputeWorkingDir": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/mkdir",
      "Parameters": {
        "endpoint_id.$": "$.transfer_settings.source_endpoint",
        "path.$": "$.constants.compute_output_directory"
      },
      "ResultPath": "$.mkdir_result",
      "Next": "RunComputeFunction"
    },
    "RunComputeFunction": {
      "Type": "Action",
      "ActionUrl": "https://compute.actions.globus.org/v3",
      "Parameters": {
        "endpoint_id.$": "$.constants.compute_endpoint_id",
        "tasks": [
          {
            "function_id.$": "$.constants.compute_function_id",
            "args": [],
            "kwargs": {
              "src_paths.$": "$.iterate_source_paths.src_paths",
              "dest_path.$": "$.constants.compute_output_directory",
              "gcs_base_path.$": "$.constants.gcs_base_path"
            }
          }
        ]
      },
      "ResultPath": "$.run_compute_result",
      "Next": "TransferFromComputeEndpoint"
    },
    "TransferFromComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/transfer",
      "Parameters": {
        "source_endpoint.$": "$.transfer_settings.source_endpoint",
        "destination_endpoint.$": "$.transfer_settings.destination_endpoint",
        "DATA": [
          {
            "source_path.=": "run_compute_result.details.result[0]",
            "destination_path.$": "$.destination_path.path"
          }
        ]
      },
      "ResultPath": "$.transfer_to_dest_result",
      "Next": "CleanupComputeEndpoint"
    },
    "CleanupComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/delete",
      "Parameters": {
        "endpoint.$": "$.transfer_settings.source_endpoint",
        "recursive": true,
        "DATA": [
          {
            "path.$": "$.constants.compute_output_directory"
          }
        ]
      },
      "ResultPath": "$.delete_compute_output_result",
      "End": true
    }
  }
}
