compute_transfer_examples/collection_transfer_requires_flow/compute_transfer_example_2_definition.json
{
  "StartAt": "SetConstants",
  "States": {
    "SetConstants": {
      "Type": "ExpressionEval",
      "Parameters": {
        "gcs_endpoint_id": "<INSERT YOUR GCS ENDPOINT ID HERE>",
        "gcs_base_path": "/",
        "compute_endpoint_id": "<INSERT YOUR COMPUTE ENDPOINT ID HERE>",
        "compute_function_id": "<INSERT YOUR COMPUTE FUNCTION ID HERE>",
        "compute_output_directory.=": "'/' + _context.run_id + '/'"
      },
      "ResultPath": "$.constants",
      "Next": "InitIterateTransferData"
    },
    "InitIterateTransferData": {
      "Type": "ExpressionEval",
      "Parameters": {
        "transfer_data_iterator_pos": 0,
        "transfer_from_src_data": [],
        "src_paths": []
      },
      "ResultPath": "$.iterate_transfer_data",
      "Next": "IterateTransferDataConditional"
    },
    "IterateTransferDataConditional": {
      "Type": "ExpressionEval",
      "Parameters": {
        "val.=": "len(transfer_settings.DATA) > iterate_transfer_data.transfer_data_iterator_pos"
      },
      "ResultPath": "$.iterate_transfer_data_conditional",
      "Next": "IterateTransferData"
    },
    "IterateTransferData": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.iterate_transfer_data_conditional.val",
          "BooleanEquals": true,
          "Next": "StatTransferData"
        }
      ],
      "Default": "MakeComputeWorkingDir"
    },
    "StatTransferData": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/stat",
      "Parameters": {
        "endpoint_id.$": "$.transfer_settings.source_endpoint",
        "path.=": "transfer_settings.DATA[iterate_transfer_data.transfer_data_iterator_pos].source_path"
      },
      "ResultPath": "$.transfer_data_stat_result",
      "Next": "AppendTransferData"
    },
    "AppendTransferData": {
      "Type": "ExpressionEval",
      "Parameters": {
        "src_paths.=": "iterate_transfer_data.src_paths + [constants.compute_output_directory + transfer_data_stat_result.details.name]",
        "transfer_from_src_data.=": "iterate_transfer_data.transfer_from_src_data + [{'source_path': transfer_settings.DATA[iterate_transfer_data.transfer_data_iterator_pos].source_path, 'destination_path': constants.compute_output_directory + transfer_data_stat_result.details.name, 'DATA_TYPE': transfer_settings.DATA[iterate_transfer_data.transfer_data_iterator_pos].DATA_TYPE, 'recursive': transfer_settings.DATA[iterate_transfer_data.transfer_data_iterator_pos].recursive}]",
        "transfer_data_iterator_pos.=": "iterate_transfer_data.transfer_data_iterator_pos + 1"
      },
      "ResultPath": "$.iterate_transfer_data",
      "Next": "IterateTransferDataConditional"
    },
    "MakeComputeWorkingDir": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/mkdir",
      "Parameters": {
        "endpoint_id.$": "$.constants.gcs_endpoint_id",
        "path.$": "$.constants.compute_output_directory"
      },
      "ResultPath": "$.mkdir_result",
      "Next": "TransferToComputeEndpoint"
    },
    "TransferToComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/transfer",
      "Parameters": {
        "source_endpoint.$": "$.transfer_settings.source_endpoint",
        "destination_endpoint.$": "$.constants.gcs_endpoint_id",
        "DATA.$": "$.iterate_transfer_data.transfer_from_src_data"
      },
      "ResultPath": "$.transfer_from_src_result",
      "Next": "RunComputeFunction"
    },
    "RunComputeFunction": {
      "Type": "Action",
      "ActionUrl": "https://compute.actions.globus.org/v3",
      "Parameters": {
        "endpoint_id.$": "$.constants.compute_endpoint_id",
        "tasks": [
          {
            "function_id.$": "$.constants.compute_function_id",
            "args": [],
            "kwargs": {
              "src_paths.$": "$.iterate_transfer_data.src_paths",
              "dest_path.$": "$.constants.compute_output_directory",
              "gcs_base_path.$": "$.constants.gcs_base_path"
            }
          }
        ]
      },
      "ResultPath": "$.compute_result",
      "Next": "GetDestinationPath"
    },
    "GetDestinationPath": {
      "Type": "ExpressionEval",
      "Parameters": {
        "path.=": "getattr('destination_path', '/~/' + pathsplit(compute_result.details.result[0])[1])"
      },
      "ResultPath": "$.destination",
      "Next": "TransferFromComputeEndpoint"
    },
    "TransferFromComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/transfer",
      "Parameters": {
        "source_endpoint.$": "$.constants.gcs_endpoint_id",
        "destination_endpoint.$": "$.transfer_settings.destination_endpoint",
        "DATA": [
          {
            "source_path.=": "compute_result.details.result[0]",
            "destination_path.$": "$.destination.path"
          }
        ]
      },
      "ResultPath": "$.transfer_to_dest_result",
      "Next": "CleanupComputeEndpoint"
    },
    "CleanupComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/delete",
      "Parameters": {
        "endpoint.$": "$.constants.gcs_endpoint_id",
        "recursive": true,
        "DATA": [
          {
            "path.$": "$.constants.compute_output_directory"
          }
        ]
      },
      "ResultPath": "$.delete_compute_output_result",
      "End": true
    }
  }
}
