compute_transfer_examples/tar_and_transfer/collection_transfer_requires_flow/compute_transfer_example_1_definition.json
{
  "StartAt": "SetRunVariables",
  "States": {
    "SetRunVariables": {
      "Type": "ExpressionEval",
      "Parameters": {
        "gcs_base_path": "/",
        "compute_endpoint_id": "<INSERT YOUR COMPUTE ENDPOINT ID HERE>",
        "compute_function_id": "<INSERT YOUR COMPUTE FUNCTION ID HERE>",
        "compute_output_directory.=": "'/' + _context.run_id + '/'",
        "input_data_valid.=": "['~' in transfer_data.source_path or transfer_data.source_path == '/' for transfer_data in transfer_settings.DATA] == [False] * len(transfer_settings.DATA)"
      },
      "ResultPath": "$.run_vars",
      "Next": "ValidateTransferData"
    },
    "ValidateTransferData": {
      "Comment": "Validate that none of the input source paths are the path '/' or contain the character '~'.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.run_vars.input_data_valid",
          "BooleanEquals": false,
          "Next": "InvalidTransferData"
        }
      ],
      "Default": "CollectSourcePaths"
    },
    "InvalidTransferData": {
      "Type": "Fail",
      "Error": "InvalidTransferData",
      "Cause": "Invalid source path found in input transfer data."
    },
    "CollectSourcePaths": {
      "Type": "ExpressionEval",
      "Parameters": {
        "paths.=": "[item.source_path for item in transfer_settings.DATA]"
      },
      "ResultPath": "$.src",
      "Next": "MakeComputeWorkingDir"
    },
    "MakeComputeWorkingDir": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/mkdir",
      "Parameters": {
        "endpoint_id.$": "$.transfer_settings.source_endpoint",
        "path.$": "$.run_vars.compute_output_directory"
      },
      "ResultPath": "$.mkdir_result",
      "Next": "RunComputeFunction"
    },
    "RunComputeFunction": {
      "Type": "Action",
      "ActionUrl": "https://compute.actions.globus.org/v3",
      "Parameters": {
        "endpoint_id.$": "$.run_vars.compute_endpoint_id",
        "tasks": [
          {
            "function_id.$": "$.run_vars.compute_function_id",
            "args": [],
            "kwargs": {
              "src_paths.$": "$.src.paths",
              "dest_path.$": "$.run_vars.compute_output_directory",
              "gcs_base_path.$": "$.run_vars.gcs_base_path"
            }
          }
        ]
      },
      "ResultPath": "$.compute_func_result",
      "Next": "GetDestinationPath"
    },
    "GetDestinationPath": {
      "Comment": "To get the dest path, check if the variable 'destination_path' exists and if not, default to the filename returned by the compute function.",
      "Type": "ExpressionEval",
      "Parameters": {
        "path.=": "getattr('destination_path', '/~/' + pathsplit(compute_func_result.details.result[0])[1])"
      },
      "ResultPath": "$.destination",
      "Next": "TransferFromComputeEndpoint"
    },
    "TransferFromComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/transfer",
      "Parameters": {
        "source_endpoint.$": "$.transfer_settings.source_endpoint",
        "destination_endpoint.$": "$.transfer_settings.destination_endpoint",
        "DATA": [
          {
            "source_path.=": "compute_func_result.details.result[0]",
            "destination_path.$": "$.destination.path"
          }
        ]
      },
      "ResultPath": "$.transfer_result",
      "Next": "CleanupComputeEndpoint"
    },
    "CleanupComputeEndpoint": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/delete",
      "Parameters": {
        "endpoint.$": "$.transfer_settings.source_endpoint",
        "recursive": true,
        "DATA": [
          {
            "path.$": "$.run_vars.compute_output_directory"
          }
        ]
      },
      "ResultPath": "$.delete_result",
      "End": true
    }
  }
}
